
@font-face {
    font-family: 'Parkinsans';
    src: local('Parkinsans Regular'), local('Parkinsans-Regular'),
        url('../fonts/Parkinsans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Parkinsans';
    src: local('Parkinsans Medium'), local('Parkinsans-Medium'),
        url('../fonts/Parkinsans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Parkinsans';
    src: local('Parkinsans SemiBold'), local('Parkinsans-SemiBold'),
        url('../fonts/Parkinsans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'),
        url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
 /* #0095DA; */

:root{
    --white : #fff;
    --light-blue :#08aefb;
    --dark-blue : #1b4e9b;
    --grey : #7a7a7a;
    --light-grey : #626262;
    --black:#1e231c;
    --font-size : 30px;
    --font-size-32 : 22px;
    --font-size-22: 18px;
    --body-font-size : 14px;
    --section-sapce : 3rem;

    --font-family : 'Parkinsans', 'Lato', 'Roboto', sans-serif ;
}
@media screen and (min-width:768px){
    :root{
        --font-size : 36px;
        --body-font-size : 15px;
        --section-sapce : 2.5rem;
        --font-size-32 : 24px;
    }
}
@media screen and (min-width:1280px){
    :root{
        --font-size : 47px;
        --body-font-size : 16px;
        --section-sapce : 6rem;
        --font-size-32 : 32px;
        --font-size-22: 22px;
    }
}

body{ 
    font-family: 'Parkinsans', 'Lato', 'Roboto', sans-serif ;
    font-size: var(--body-font-size)
}

h1,h2,h3,h4,h5,h6{font-family: 'Lato', 'Roboto', sans-serif }
h2 { font-size:var(--font-size);line-height: 1.125;margin-bottom: 1rem;}
h3 { font-size:calc(var(--font-size) - 6px);line-height: 1.25;margin-bottom: .75rem}
p { margin-bottom: 14px; font-family: var(--font-family); color: var(--light-grey)}
img { max-width: 100% ; transition: all .3s ease-in-out;}
/* strong{color: var(--light-grey);} */

.container{max-width: 1290px !important;width: 100%;}
.primary-button{
    background-color: #0095DA;
    color: var(--white)!important;
    box-shadow: none;
    text-decoration: none;
    padding: 14px 32px;
    border-style: inherit;
    border-radius: 10px;
    font-weight: 700;
    font-family: var(--font-family);
    display: inline-block;
    transition: .3s ease-in-out;
}
.primary-button:hover{
    background:#08aefb
}
@media screen and (min-width:768px){
    .primary-button{ padding: 18px 40px;}
}
.primary-button :is(.btn-icon,svg,i){
    margin-right: 8px;
    color: currentColor;
    width: 20px;
    display: inline-block;
    fill: currentColor;
}
.navigation-container{
    padding: 16px;
}
.navbar-brand img{
    max-width: 120px;
}

@media screen and (max-width:767px) {
    .stellarnav .primary-button{
       padding: 10px 20px;
    }
}
@media screen and (min-width:768px) {
    .navbar-brand img{
        max-width: 160px;
    }
}


/* Hero Banner Home page */
.hero_banner .swiper-pagination .swiper-pagination-bullet {
    border: 2px solid var(--white);
    background: transparent;
}
.hero_banner .swiper-button-prev, 
.hero_banner .swiper-button-next{
    background-color: #0000009d;
    color:var(--white);
    padding: 10px;
}
.hero_banner .swiper-button-prev:after, 
.hero_banner .swiper-button-next:after{
    font-size: 24px;
}

/* Home Page - About Us Section */
.about-us{
    background: linear-gradient(180deg, #FCFFE5 0%, #FFFFFF 70%);
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    border-bottom:1px solid #e0ddd9;
}
.about-us .sub-title{color: var(--grey);font-size: 20px;font-weight: 600;padding-bottom: .5rem;display: inline-block;}
.about-us .title{color:#0095DA;}
.about-us .info{color:var(--light-grey);line-height: 1.62}
@media screen and (max-width:768px) {.about-image{margin-top:1.5rem}}


/* Home Page - Sintex Glance Section */
.heading-content :is(h2, .title){color: #0095DA;}
.heading-content :is(p, .sub-title){color:var(--light-grey);line-height: 1.62}
.heading-content a{color:#0095da;font-weight: 600;}
.heading-content a:hover{color:var(--light-blue);font-weight: 600;}



.sintex-glance{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    border-bottom: 1px solid #e0ddd9;
}
.sintex-glance-card{
    border:1px solid #e0ddd9;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
    height: stretch;
}
.glance-card-name{
    font-size: 18px;
    color:#012714;
    line-height: 1.1;
}
.glance-card-number .number{
    color:var(--light-blue);
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 1;
}
.glance-card-number .prefix{
    font-size: 32px;
    letter-spacing: -3px;
    font-weight: bold;
    line-height: 1;
    color:var(--light-blue);
}
.glance-card-icon img{
    max-width: 100px;
}
@media screen and (min-width:768px) {
    .glance-card-name{ font-size: 18px }
    .glance-card-number .number{ font-size: 54px }
    .glance-card-number .prefix{ font-size: 34px }
}
@media screen and (min-width:1280px) {
    .glance-card-name{ font-size: 22px }
    .glance-card-number .number{ font-size: 80px }
    .glance-card-number .prefix{ font-size: 36px }
}


/* Home Page -  Our Product Section */
.our-product{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
}
.container-fluid,
.navigation-container{
    max-width: 1920px;
}
.product-card{
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-top: 10px;
    height: stretch;
}
@media screen and (min-width:768px) {
    .product-card{   flex-flow: row; gap: 20px; margin-top: 20px;}
}
@media screen and (min-width:1280px) {
    .product-card{ gap: 15px;}
}
@media screen and (min-width:1920px) {
    .our-product,.navigation-container{padding-inline: 70px;}
}
.product-card-content{
    background-color: #f7f6f5;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.product-card .product-title{
    font-size: 22px;
    color:var(--black);
}
.product-info{
    color: var(--light-grey);
    flex-grow: 1;
}
.product-link{
    text-transform: uppercase;
    color: var(--light-blue);
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}
.product-image{
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: center;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    flex: 1;
}
.product-image img{
    height: 300px;
    margin-block: auto;
}
@media screen and (min-width:768px) {
    .product-image img{min-height: 200px} 
}
@media screen and (min-width:1280px) {
    .product-card-content,.product-image{ padding: 30px 25px;}
    .product-card .product-title{font-size: 24px;}
    .product-image img{height: 280px} 
}
@media screen and (min-width:1367px) {
    .product-card-content,.product-image{ padding: 42px 35px;}
    .product-card .product-title{font-size: 28px;} 
     .product-image img{height: 300px}
}

/* Home Page - CTA Section */
.cta-section{
    background-color: #1B4E9B !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding-block: var(--section-sapce);
    padding-inline: 10px;
}
.cta-section-inner{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    color:var(--white);
    flex-flow: column;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}


/* Home Page - Sustainability Infrastructure Section */
.sustainability-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background-image: linear-gradient(180deg, #E3F1FF 0%, #FFFFFF 70%);
    border-bottom: 1px solid #e0ddd9;
}
.sustainability-list{
    margin-block: 1.5rem 2rem;
    padding-left: 20px;
}
.sustainability-list li {margin-bottom: 4px;}
.sustainability-list li .hightlight-text{
    color: var(--light-grey);
    font-weight: bold;
}
.sustainability-section .primary-button{
     margin-block: 1.25rem;
}


/* Home Page - Global Presence */
.global-presence{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    border-bottom: 1px solid #e0ddd9;
    text-align: center;
    padding-inline: 16px;
}
.global-presence-image{margin-top: 50px;}



/* Who Are We Page */
/* ************************************ */

.title-box{
    background-color: var(--light-blue);
    padding:35px 20px 25px 20px;
    text-align: center;
    color: var(--white);
}
.title-box h1{ 
    font-size: 34px;
    color: var(--white);
    text-align: center;
}
@media screen and (min-width:768px){
    .title-box{  padding:30px 20px 20px 20px;}
    .title-box h1{ font-size: 45px }
}
@media screen and (min-width:1280px){
    .title-box{  padding:40px 20px 30px 20px; }
    .title-box h1{ font-size: 57px}
}

.textile-excellence-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    border-bottom: 1px solid #e0ddd9;
}
.textile-excellence-section .heading-content :is(p,.sub-title){
    /* border-bottom: 1px solid #e0ddd9; */
    /* margin-bottom: 24px; */
    /* padding-bottom: 10px; */
}
.textile-excellence-content img{
    border-radius: 10px;
    margin-block: 24px;
}

/* Foundation Section */
.foundation-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    border-bottom: 1px solid #e0ddd9;
}
.foundation-section .heading-content{
    border-bottom: 1px solid var(--light-blue);
    padding-bottom: 0px;
    margin-bottom: 30px;
}
.foundation-content .title{
    font-size: var(--font-size);
    color: var(--light-blue);
    font-weight: bold;
}
.foundation-content .title span{
    color: #000;
}
.vision-mission .row{margin-top: 50px;}
.foundation-image-box {text-align: center}
.foundation-image-box img {border-radius: 10px;}

@media screen and (max-width:767px) {
    .vision-mission .row{flex-flow: column-reverse;}
    .foundation-content{margin-bottom: 25px;}
}
@media screen and (min-width:768px) {
    .vision-mission .row:nth-child(2){flex-flow: row-reverse;}
}





/* Our Core Values Section */
.core-value-section{padding-block: var(--section-sapce);
padding-inline: 10px;}
.blue-divider{
    border-bottom: 1px solid var(--light-blue);
    margin-block:8px 30px;
}
.value-card{
    align-items: center;
    border-bottom: 1px solid #e0ddd9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.value-card-content{margin-top:20px;}
@media screen and (min-width:768px) {.value-card-content{margin-left: 25px;margin-top: 0;}}
@media screen and (min-width:1280px) {.value-card-content{margin-left: 60px}}
.value-card-image img{
    border-radius: 14px;
    overflow: hidden;
}
.value-card-content :is(h3,.title){
    font-size: calc(var(--font-size-22) + 4px);
    font-weight: bold;
    color:var(--black);
}



 /* Board of Directors Section */
.board-directors-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background-image: linear-gradient(180deg, #E3F1FF 0%, #FFFFFF 20%);
}
.member-card{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 45px;
    text-align: center;
}
@media screen and (min-width:768px) {
    .member-card{ flex-flow: row;text-align: inherit; margin-top: 70px;}
}
.member-card:hover .member-image img{transform: scale(1.1);}
.member-image{
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 148.99999999999994, 218, 0.15);
    height: 230px;
    max-width: 230px;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 20px;
}
@media screen and (min-width:768px) {.member-image{ margin-right: 20px;margin-bottom: 0;}}
.member-content .member-name{
    font-size: 17px;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 3px;
}
@media screen and (max-width:767px) {.member-description{font-size: 14px;}}
@media screen and (min-width:768px) {.member-content .member-name{font-size: 18px;}}
@media screen and (min-width:1280px) {.member-content .member-name{font-size: 19px;}}
.member-degisnation{color:#949393;margin-bottom: 8px;font-size: 16px;}
.member-content .divider {
    width: 100px;
    border-bottom: 1px solid var(--black);
    margin-bottom: 8px;
    display: inline-block;
    margin-top: 0;
}
.member-read-more-btn{
    display: inline-block;
    color: #40798C;
    cursor: pointer;
    font-weight: bold;
}


/* committee-table Section */
.committee-table{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background-image: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
}
.range-table-section .range-table-container{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.committee-table-inner{background: var(--white);padding:30px 20px;}
.committee-table .committee-table-inner:nth-child(2){border-bottom: 1px solid #eee;}
.header-row {
    background-color: var(--light-blue);
    color: var(--white);
    font-weight: 600;
    padding: 12px 15px;
}
.committee-row {
    border-top: 1px solid #dee2e6;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
}
.committee-name {font-weight: 600;padding-block: 20px;font-size: 17px;}
/* .committee-members {flex: 1 1 60%;} */
.committee-members span {
    display: block;
    color: #004080;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 6px;
}
.committee-members a:last-child {margin-bottom: 0;}
@media (max-width: 576px) {
    .committee-name, .committee-members {
        flex: 1 1 100%;
        padding-right: 0;
    }
}



/* Awards Page  */
/*******************/
.awards-card-section{padding-block: var(--section-sapce);
padding-inline: 10px;}
.awards-card-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-flow: column;
    gap:20px
}
.bg-light-blue{background-color: #E3F1FF;}
.awards-card-section .awards-card-content{width: 100%;}
.awards-card-section .awards-card-image{
    width: 100%;
    position: relative;
    text-align: center;
}
.awards-card-section .awards-card-image .swiper{
    width: calc(100% - 60px);
    position: static;
}
.awards-card-inner .swiper .swiper-button-prev {left: -2px;color:var(--black)}
.awards-card-inner .swiper .swiper-button-next {right: -2px;color:var(--black)}
.awards-card-inner .swiper .swiper-button-prev:after,.awards-card-inner .swiper .swiper-button-next:after {font-size:24px;}
.awards-card-section .awards-card-content .title{
    font-size: 24px;
    color: var(--light-blue);
}
@media screen and (min-width:1280px) {
    .awards-card-section :is(.awards-card-content,.awards-card-image){width: 45%;}
    .awards-card-inner{flex-flow: row}
    .awards-card-section.bg-light-blue .awards-card-inner{flex-flow: row-reverse;}
    .awards-card-section .awards-card-content .title{ font-size: 30px;}
}




/* Our Yarn Page */
/********************/
.superior-yarn{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background-image: linear-gradient(180deg, #E3F1FF 0%, #FFFFFF 70%);
    border-bottom: 1px solid #e0ddd9;
}
.superior-yarn .heading-content{text-align: center;}
.yarn-card{
    background: var(--white);
    padding: 15px;
    border: 1px solid #E9E9E9;
    margin-top: 25px;
    height: stretch
}
.yarn-image{text-align: center;}
.yarn-image img{    
    width: 100%;
    aspect-ratio: 9 / 6;
    object-fit: cover;
}
.yarn-card .yarns-name{
    font-size: 22px;
    color: var(--black);
    border-bottom: 1px solid #E9E9E9;
    padding-block: 16px;
    margin-bottom: 16px;
}
.yarn-card .yarn-description{color: #000;}
@media screen and (min-width:768px) {
    .yarn-card{padding: 15px;}
 
}
@media screen and (min-width:1280px) {
    .yarn-card{padding: 30px;margin-top: 30px;}
    .yarn-card .yarns-name{font-size: 27px;}
}




/* Our Product Without Product Description */
.our-product-grid{
    background-color: #FAFAFA;
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    text-align: center;
}
.our-product-grid .row{justify-content: center;}
.product-card-grid {text-align: center;margin-top: 50px;}
.product-card-grid .product-name{
    color: var(--light-blue);
    font-size: 20px;
    margin-block: 14px;
    text-align: center;
}
@media screen and (min-width:768px) {
    .product-card-grid .product-name{ font-size: 23px;}
    .our-product-grid{padding-inline: 20px;}
}
.product-card-grid .primary-button{
    padding: 12px 28px;
    margin-top: 14px;
}



/* Get in touch with our sales team to know more. */
.cta-section.bg-grey {background: #E3F1FF !important;}
/* .bg-light-blue{ background: #E3F1FF!important} */
.cta-section.bg-grey .cta-section-inner :is(h2,h3){font-size: var(--font-size);color:#0095DA;}



/* 100% Cotton & Blended Yarns Page */
/* **************************************/
.product-application-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    text-align: center;
}
.product-application-inner{
    position: relative;
    text-align: center;
    margin-block: 40px;
}
.product-applicatio-slider.swiper{
    width: calc(100% - 60px);
    position: static;
}
.product-applicatio-slider.swiper .swiper-button-prev {left: -5px;color:var(--black)}
.product-applicatio-slider.swiper .swiper-button-next {right: -5px;color:var(--black)}
.product-applicatio-slider.swiper .swiper-button-prev:after,.product-applicatio-slider.swiper  .swiper-button-next:after {font-size: 18px;font-weight: bold;}

.caregory-name{color: var(--black);display: inline-block;margin-top: 15px;text-align: center;font-weight: 500;}



/* Product Detail section */
.product-detail-section{ 
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background: linear-gradient(180deg, #E2F4FE 0%, #E2F4FE 70%);
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.product-detail-section .row{
    justify-content: space-between;
    align-items: center;
}
.product-detail-image{
    border-radius: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
}
.product-detail-image img{
    height: auto;
    margin-block: auto;
}
@media screen and (min-width:768px) {
    .product-detail-image img{height: 300px}
}
.product-detail{
    border-radius: 15px;
    padding: 25px;
    background-color: var(--white);
}
.product-detail .product-title{
    font-size: var(--font-size-32);
    color: var(--light-blue);
    margin-bottom: 8px;
}
.product-detail .product-range{
    font-size: var(--font-size-22);
    margin-bottom: 16px;
    color: var(--black);
}
@media screen and (max-width:767px) {
    .product-detail{margin-top: 10px;}
    /* .product-detail-section{ background-position: right}; */
}
@media screen and (min-width:1280px) {
    .product-detail{padding: 40px;}
}
.product-detail-content ul{padding-left: 20px;}
.product-detail-content ul li {
    font-size: 16px;
    padding-top: 7px;
    color: #000;
    font-weight: 500;
}



/* feature section */
.feature-section{
    padding-block: var(--section-sapce) calc(var(--section-sapce) - 40px);
    padding-inline: 10px;
}
.feature-grid{
    border-top:2px solid #D1D3D4;
    padding-top: 20px;
    margin-bottom: 30px;
}
.feature-grid .title{
    font-size: var(--font-size-32);
    color: #1B4E9B;
    margin-bottom: 4px;
}
.feature-grid .range{
    font-size: var(--font-size-22);
    color: #1B4E9B;
    margin-bottom: 0px;
}
.feature-grid .description{
    font-size: 16px;
    color: var(--black);
    margin-top: 15px;
}
@media screen and (min-width:1280px) {
    .feature-grid .description{font-size: 18px;}
    .feature-grid{ margin-bottom: 60px;}
    .feature-section{padding-block: var(--section-sapce) calc(var(--section-sapce) - 50px)}
}


.range-table-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background-color: #EEEEEE87;
}
.range-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.range-table thead {
    background: #d9edf7;
}
.range-table thead th {
    text-align: left;
    padding: 14px;
    font-weight: 600;
    color: #000;
    font-size: 15px;
}
.range-table thead th:first-child,
.range-table tbody td:first-child {
    width: 100%;
}
.range-table tbody td {
    padding: 14px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color:#111111;
}
@media screen and (min-width:768px) {
   .range-table thead th{ font-size: 17px; padding: 18px;}
   .range-table tbody td { font-size: 15px;padding: 18px;}
}
.range-table tbody tr{transition: all .3s ease-in-out;background: var(--white);}
.range-table tbody tr:nth-child(even) {background: #f9f9f9;}
.range-table tbody tr:hover{background: #fafafa;}


/* Credentials Section */
.credentials-section{padding-block: var(--section-sapce);
    padding-inline: 10px;text-align: center;}
.brand-logo-container{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.brand-logo-container .brand-logo img{
    max-width: 140px;
    margin-inline: auto;
}
@media screen and (min-width:768px) {
    .brand-logo-container .brand-logo img{max-width: 200px;}
}

/* What Makes Sintex Bleached Cotton Unique? */
.cotton-makeing-points{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    text-align: center;
    background: linear-gradient(180deg, #E3F1FF 0%, #FFFFFF 70%);
    border-bottom: 1px solid #e0ddd9;
}
.makeing-card{ display: flex;align-items: flex-start;text-align: left;margin-top: 40px;}
.makeing-icon { flex-shrink: 0;margin-right: 20px;}
.makeing-icon :is(img,svg,i) {max-width: 60px;}
.makeing-card .title { font-size: calc(var(--font-size-32) - 4px);color:var(--black);margin-bottom: 8px;}
@media screen and (max-width:767px){
    .makeing-card .title { font-size:var(--font-size-32);}
    .makeing-card{margin-top: 20px;}
    .makeing-icon :is(img,svg,i) {max-width: 40px;}
    .cotton-makeing-points .heading-content{margin-bottom: 30px;}
}
.bg-grey{background-image: linear-gradient(180deg, #F7F6F5 0%, #FFFFFF 70%);}

/*  */
.grid-col-2{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
}
@media screen and (min-width:768px){
    .grid-col-2{ grid-template-columns: 1fr 1fr;}
}

.sustainability-list.grid-col-2 li p{
  color: #000
}
.sustainability-list.grid-col-2 .hightlight-text{
    color: #000!important;
    font-weight: 700 !important;
}



.common-hero-section{padding-block: var(--section-sapce)}
.common-hero-section .row{flex-flow: column-reverse;}
.common-hero-section .image{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
    background-color: #E3F1FF;
    min-height: 300px;
    border-radius: 10px;
}
@media screen and (max-width:768px){.common-hero-section .heading-content{margin-block: 20px;}}
@media screen and (min-width:768px){
    .common-hero-section .image{ min-height: 370px;}
    .common-hero-section .row{flex-flow: row;}
}

/* Industry Collaboration Section */
.industry-collaboration-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background-image: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
    text-align: center;
}
.collaboration-card{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    overflow: hidden;
    padding:20px 40px;
    min-height: 80px;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 20px;
    text-align: left;
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* .collaboration-card:hover{
     background-size: 110% !important;
      transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
} */
.collaboration-card::after{
    content: '';
    background-color: #FFFFFFE0 ;
    position: absolute;
    inset: 0;
    z-index: 0;
}
.collaboration-card .title{
    font-size: 22px;
    z-index: 1;
}
@media screen and (min-width:768px){
    .collaboration-card{ min-height: 200px;margin-top: 30px;}
    .collaboration-card .title{ font-size: 24px;}
}
@media screen and (min-width:1280px){
    .collaboration-card{ min-height: 300px;margin-top: 40px;}
    .collaboration-card .title{ font-size: 28px;}
}

.footprint-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background-image: linear-gradient(180deg, #EEEEEE66 0%, #FFFFFF 100%);
    text-align: center;
}
.footprint-section .row{padding-top: 40px;}
.footprint-section .content-card { text-align: left;margin-bottom:15px;}
.content-card .image{ margin-bottom: 20px;}
.content-card .title{ font-size: 19px;}
.content-card .list{ padding-left: 20px;}
.content-card .list li{ color: var(--light-grey);padding-bottom: 4px;}

@media screen and (min-width:768px){
   .content-card .title{font-size: 20px;}
    .footprint-section .content-card {margin-bottom:30px;}
    .footprint-section .row{padding-top: 45px;}
}
@media screen and (min-width:1280px){
    .content-card .title{font-size: 23px;}
    .footprint-section .content-card {margin-bottom:40px;}
}

.sustainability-infrastructure-section{padding-block: var(--section-sapce);
    padding-inline: 10px; text-align: center;}
.sustainability-infrastructure-section .content-card { margin-top:45px;}


/*  */
.process-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
    background: linear-gradient(180deg, #EEEEEE66 0%, #FFFFFF 100%);
}
.process-tabs{margin-top: 25px;}
.process-tabs li{
    padding:16px 0px;
    border-bottom:1px solid #1b4e9b;
    width: 100%;
}
.process-tabs li button{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding:0px;
    color: #8a8d91;
    width: 100%;
    display: block;
}
.process-tabs :is(li:hover,li.active){border-bottom:1px solid #0095da;}
.process-tabs :is(li:hover,li.active) button,
.process-tabs button.active{color:#0a1724;}
.process-tabs{padding-left: 0px;}
@media screen and (min-width:768px){
   .process-tabs li button{ font-size: 17px;}
   .process-tabs{margin-top: 40px;}
}

.group-companies{
    padding-block: 0px var(--section-sapce);
    padding-inline: 10px;
}
.group-companies .image{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f7f6f5
}
.common-overses-section{
    padding-block: calc(var(--section-sapce) - 1vw);
    text-align: center;
    background-image: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
    padding-inline: 10px;
}
@media screen and (max-width:768px){
   .common-overses-section .heading-content .title{font-size: 25px;}
}


/* Official Information Section */
.official-info-section{
    padding-block: var(--section-sapce);
    padding-inline: 10px;
}
.official-info-section .heading-content{margin-bottom: 60px;}
.official-info-section .label {
    font-weight: 500; 
    margin-bottom: 10px;
    color:var(--light-grey); 
    font-size: 19px;
}
.official-info-section .name {
    color: #1b4e9b;
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
}
.address {margin-bottom: 5px;}
.address address{
    font-size: 17px;
    font-weight: 600;
     color: var(--black);
}
.contact-item {
    display: flex;
    align-items: start;
    margin-bottom: 18px;
}

.icon {
    width: 22px;
    margin-right: 10px;
    color: #1a5fb4;
    font-weight: bold;
    fill:#1b4e9b
}

.contact-item a {
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;

}

.contact-item a:hover {
    text-decoration: underline;
}

.divider {
    border-top: 1px solid #ddd;
    margin: 40px 0;
}

/* Footer Section*/
.footer {
    background-color: #1B4E9B;
    color: #fff;
    padding: 50px 10px 10px 10px;
}
@media screen and (min-width:1280px) {
    .footer {padding: 100px 10px 16px 10px;}
}
@media screen and (min-width:1680px) {
    .footer {padding: 100px 70px 16px 70px;}
}
.footer .footer-nav .title,
.footer-address .title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: .5px;
}

.footer p {line-height: 1.7;color: var(--white);}
.footer .footer-nav ul,.footer-address  ul{padding-left: 0px;list-style: none;display: flex;flex-direction: column;gap:16px;margin-bottom: 30px;}
.footer-address ul{ gap:2px; }
.footer-address-box > strong{padding-bottom: 4px;display: inline-block;font-weight: bold;}
.footer .footer-nav ul li a,.footer-address-box ul li a,.footer p a,.footer-divider a {color: #fff;text-decoration: none;}
.footer .footer-nav ul li a:hover,.footer-address-box ul li a:hover ,.footer p a:hover,.footer-divider a:hover {color: rgb(255, 255, 255, 80%);}
.footer-logo img {max-width: 180px;margin-bottom: 15px;}
.footer-divider {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: 40px;
    padding-top: 20px;
    font-size: 15px;
}
.social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: #2d5a9e;
    margin-right: 10px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}
@media screen and (max-width:767px) {
    .footer-address , .footer .footer-nav{margin-top: 25px;}
    .footer .footer-nav ul,.footer-address{gap:8px}
    .footer .footer-nav .title, .footer-address .title{font-size: 17px}
    .social-icons a { width: 40px;height: 40px;line-height:40px;font-size: 20px}
}









/* Timeline */
.timeline-section{padding-block: var(--section-sapce);
padding-inline: 10px;}
.timeline-container {position: relative;}
.time-line-title{
    display: flex;
    font-size: calc(var(--font-size-22) + 4px);
    font-weight: 600;
    margin-bottom: 50px;
    justify-content: center;
    color: var(--light-blue);
}
.time-line-title span{ display: block;flex: 1;text-decoration: underline;}
.time-line-title span:nth-child(1){text-align: center;}
.timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 388px;
    width: 2px;
    background-color: #e2e8f0;
}
.timeline-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
}
.year-label {
    width: 370px;
    text-align: right;
    padding-right: 20px;
    color: var(--light-blue);
    font-weight: 700;
    margin-top: 5px;
}
.icon-node {
    position: relative;
    z-index: 2;
    background: #0095da;
    padding: 2px 0;
    border: 1px solid #e2e8f0;
    flex-shrink: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    color: #fff;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.bracket {
    border-left: 2px solid var(--light-blue);
    border-bottom: 2px solid var(--light-blue);
    background: white;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: 15px;
    position: relative;
    left: 20px;
    z-index: 1;
}
.report-content {flex: 1;}
.timeline-container .card {
    background: #fff;
    border-radius: 8px;
    padding: 10px 10px 2px 10px;
    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.3);
    border-left: 2px solid var(--light-blue);
    margin-left: 15px;
}

.btn-blue {
    background-color: #008ec2;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom:8px;
    display: inline-block;
    width: fit-content;
    font-size: 12px;
}

.btn-blue:hover {filter: brightness(1.1);}
.financial-title {
    font-weight: 700;
    margin: 15px 0 10px;
    font-size: 0.95rem;
}
.results-table {
    width: 100%;
    border: 1px solid  #CCC;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 6px;
}
.result-row {
    display: flex;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid  #CCC;
}
.result-row:last-child {border-bottom: none;}
.q-label {
    width: 40px;
    color: var(--light-blue);
    font-weight: 600;
}
.btn-download {
    background-color: var(--light-blue);
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    background: #008ec2;
    color: #fff;
}
@media (max-width: 850px) {
    .timeline-container::before { left: 20px; }
    .year-label { width: auto; text-align: left; padding-left: 55px; }
    .timeline-row { flex-direction: column; }
    .icon-node { position: absolute;left: 2px;top: 40px; }
    .bracket { top: 25px;
    position: relative;
    left: 54px;
    z-index: 1; }
    .report-content { width: 100%; padding-left: 44px; margin-top: 0px; }
    .header-container { flex-direction: column; align-items: center; gap: 20px; }
}


/* Pressrealse Tabs */
.pressrelease-tab-section{
    background-image: linear-gradient(180deg, #E3F1FF 0%, #FFFFFF 70%);
    padding-block: var(--section-sapce);
    padding-inline: 10px;
}
.pressrelease-tab-section ul{
    gap: 8px;
    justify-content: center;
    margin-bottom: 30px;
}
.pressrelease-tab-section li.nav-item button {
    background: #08aefb;
    border-radius: 0px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
}
.pressrelease-tab-section li.nav-item :is(button.active,button:hover) {
    background: #0095DA;
    border-radius: 0px;
}
.press-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.press-card{
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
}
.press-card .title{
    font-size: 14px;
    color:var(--black);
    margin-bottom: 0px;
}
.press-card .press-link{
    font-size: 16px;
    font-weight: 600;
    color:#1b4e9b;
    text-decoration: none;
}
@media screen and (min-width:600px) {
    .press-card{flex: 1 0 45%;max-width: 45%;margin-top: 20px;}
    .press-card .press-link{font-size:17px}
    .press-card .title{ font-size: 15px;}
    .pressrelease-tab-section li.nav-item button {font-size: 16px;padding: 12px 20px;}
}
@media screen and (min-width:991px) {
    .press-card{flex: 1 0 32.5%;max-width: 32.5%;margin-top: 30px;}
    .pressrelease-tab-section li.nav-item button {font-size: 18px;padding: 15px 35px;}
    .pressrelease-tab-section ul{gap:14px}
}
@media screen and (min-width:1280px) {
    .press-card{flex: 1 0 30%;max-width: 30%;margin-top: 40px;}
    .press-card .press-link{font-size: calc(var(--font-size-22) + 2px);}
    .press-card .title{ font-size: 18px;}
  
}

/* events-card */
.events-media-section{
    background-image: linear-gradient(180deg, #E3F1FF 0%, #FFFFFF 70%);
    padding-block: var(--section-sapce);
    padding-inline: 10px;
}
.events-card{
    display: flex;
    flex-direction: column;
    gap:15px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}
.events-card:hover{transform: translateY(-8px);}
.events-card:hover img{  box-shadow: 0 10px 25px rgba(0,0,0,0.1)}
.events-card img{
    border-radius: 10px;
    flex-shrink: 0;
    min-height: 250px;
    object-fit: cover;
    transform: all .3s ease-in-out;
    aspect-ratio: 16 / 9;
}
@media screen and (min-width:768px) {.events-card img{ min-height: 300px;aspect-ratio: 16 / 9;}}
@media screen and (min-width:1280px) {.events-card img{ min-height: 400px;aspect-ratio: 16 / 9;}}
.events-card .title{
    font-size: var(--font-size-22);
    color: var(--black);
    text-decoration: none;
}

/* Event Details Section */
.events-detail-content{
    padding-block: calc(var(--section-sapce) - 20px);
    padding-inline: 10px;
}
.events-detail-content .row .col-md-6{
    margin-top: 15px;
}

/* Light Box */
/* Masonry Layout Logic */
.image-box-container {
    column-count: 3;
    column-gap: 20px;
    width: 100%;
}
/* Responsive Breakpoints for Masonry */
@media (max-width: 1100px) {.image-box-container { column-count: 3; }}
@media (max-width: 768px) {.image-box-container { column-count: 2; }}
@media (max-width: 480px) {.image-box-container { column-count: 1; }}

/* Image Styling */
.image-box-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
.image-box-container img:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15);
}

/* Lightbox (Popup) Styling */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.685);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
#lightbox.active {display: flex;}
#close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10001;
    line-height: 1;
}
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--black);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    user-select: none;
    z-index: 9;
}
.image-count{
    display: flex;
    color:var(--white);
    font-weight: 500;
    font-weight: 18px;
    margin-top: 20px;
    gap:5px
}
.nav-btn:hover {background:var(--black);}
#prev-btn { left: 20px; }
#next-btn { right: 20px; }

/* Lightbox Image & Content */
.lightbox-content {
    width: 90%;
    max-width: 1000px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lightbox-img {
    max-width: 100%;
    max-height: 75vh;
    object-fit: contain;
    border-radius: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#lightbox-caption {
    color: white;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

       



/* careers-form-section */
.careers-form-section{
    background-image: linear-gradient(180deg, #E3F1FF 0%, #FFFFFF 70%);
    padding-block: var(--section-sapce);
    padding-inline: 20px;
}
.careers-form{
    max-width: 800px;
    margin-inline:auto;
    margin-top: 50px;
}
.careers-form label {
    color: #000;
    font-weight: 500;
    display: inline-block;
}
.required-star{color:red}
.careers-form :is(input,select,textarea){
    background-color: var(--white);
    padding: 15px 13px;
    border-radius: 10px;
    border: 1px solid #e0ddd9;
    width: 100%;
    margin-top: 6px;
}
.careers-form :is(input,select,textarea):hover,
.careers-form :is(input,select,textarea):focus{
    outline-color: var(--light-blue);
     border-color: var(--light-blue);
}
input[type="file"]{
    border: 2px dashed #eee;
    background:transparent;
}
.checkbox-box {color: var(--light-grey)!important;}
.checkbox-box input{
    display: inline;
    width: 20px;
    height: 15px;
}
.careers-form :is(.col-md-6,.col-md-12){margin-bottom:25px;}


.location-card {
    background: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 11%);
    height: 100%;
}

.location-card h5 {
    color: #1f4fa3;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 2px solid #1f4fa3;
    display: inline-block;
    padding-bottom: 5px;
}

.location-card p {
    margin-bottom: 3px;
    color: var(--black);
    font-weight: 500;
}

.direction-link {
    display: inline-block;
    margin-top: 15px;
    color: #1f4fa3;
    font-weight: 500;
    text-decoration: none;
}

.direction-link:hover {
    text-decoration: underline;
}

.direction-link span {
    margin-left: 8px;
}

.list-heading{
    font-size: var(--font-size-22);
    color:var(--dark-blue);
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 10px;
    display: inline-block;
}

 /* --- Policies Section CSS --- */
.policies-section {padding-block: var(--section-sapce);
padding-inline: 10px;}
.policy-card {
 background: var(--white);
    border: none;
    border-radius: 8px;
    padding: 40px 30px;
    text-align: left;
    box-shadow: 0 10px 30px rgb(0 0 0 / 12%);
    transition: transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.policy-card:hover {
    transform: translateY(-5px);
}
.policies-section .policy-card .title {
    font-size: calc(var(--font-size-22) + 4px);
    line-height: 1.2;
    margin-bottom: 24px;
    color: #000;
    font-weight: 600;
}
@media  (max-width: 768px) {
    .policies-section .policy-card .title { font-size: 18px;}
}

.policies-section .read-more {
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid transparent;
    width: fit-content;
    text-decoration: underline;
}

a.download-pdf-btn {
    text-wrap: nowrap;
    font-size: 17px;
    font-weight: 500;
    color: var(--light-blue);
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
}
a.download-pdf-btn:hover {
     text-decoration: underline;
}
a.download-pdf-btn:before {
    content: '';
    background: url(../icons/pdf-icon.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: center center;
    background-size: contain;
    margin-right: 8px;
}


.life-sintex-section{
    background-color: #F3F3F3D1;
    padding-block: var(--section-sapce);
    padding-inline: 10px;
}
.life-sintex-section .events-card img{
    background: var(--white);
    padding: 20px;
    border-radius:0px;
}
.life-sintex-section .events-card{
    margin-top: 70px;
    gap:10px
}
.life-sintex-section .events-card  .title{
    color:#1b4e9b;
}
@media  (max-width: 768px) {
    .life-sintex-section .events-card{margin-top: 30px;}
}





/* Maps Section Home page */
 .map-container {position: relative;}
.world-map-img {
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.05));
}
.marker {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    transform: translate(-50%, -100%);
}
.marker:hover {
    transform: translate(-50%, -100%) scale(1.1);
}
.marker-icon {
    width: 20px;
    height: 30px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}
@media screen and (min-width:768px) {
    .marker-icon {width: 28px;height: 38px; }
}
.tooltip-custom {
    position: absolute;
    background: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    display: none;
    z-index: 100;
    pointer-events: none;
    min-width: 160px;
    transform: translate(-50%, calc(-100% - 15px)); /* Position above the pin */
}

/* Tooltip Pointer/Arrow */
.tooltip-custom::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
}
.tooltip-custom h4 {
    margin: 0 0 10px 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-bottom: none;
    font-family: 'Parkinsans';
    text-align: left;
    transition: all .5s ease-in-out
}
.tooltip-custom ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tooltip-custom ul li {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 15px;
    text-align: left;
}
.tooltip-custom ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #000;
}
.connection-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}


/* Sitemap Section */
.sitemap-section{
    padding-block: var(--section-sapce);
    padding-inline: 20px;
}
.sitemap-box li a{
    color: var(--black);
    text-decoration: none;
    margin-bottom: 4px;
    display: inline-block;
}
.sitemap-box li a:hover{color:var(--light-blue);text-decoration: underline;transition: all .3s ease-in-out;)}
.sitemap-box .ttl{
    font-weight: 700;
}

/* Search Form for table */
.search-form {
    text-align: right;
}
.search-form input.search-input {
    border-radius: 8px;
    padding: 13px 10px;
    border: 1px solid #eee;
    width: 250px;
    color: #000;
   margin-left: 5px;
}
.search-form input.search-input:is(:hover,:focus) {outline: var(--light-blue);border-color: var(--light-blue);}